USE [master]
GO
/****** Object:  Database [Lab2]    Script Date: 28/01/2024 3:20:14 pm ******/
CREATE DATABASE [Lab2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Lab2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lab2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Lab2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab2]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 28/01/2024 3:20:14 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[StudentRegNo] [nchar](10) NULL,
	[CourseName] [nchar](10) NULL,
	[TimeStamp] [timestamp] NULL,
	[Status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 28/01/2024 3:20:14 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Course_ID] [nchar](10) NULL,
	[Course_Name] [nchar](10) NULL,
	[Teacher_Name] [nchar](10) NULL,
	[Semester] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 28/01/2024 3:20:14 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[StudentRegNo] [nchar](10) NULL,
	[CourseName] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 28/01/2024 3:20:14 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[RegistrationNumber] [nchar](10) NOT NULL,
	[Name] [nchar](10) NULL,
	[Department] [nchar](10) NULL,
	[Session] [int] NULL,
	[CGPA] [float] NULL,
	[Address] [nchar](10) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[RegistrationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Course] ([Course_ID], [Course_Name], [Teacher_Name], [Semester]) VALUES (N'CS216     ', N'Data SA   ', N'WAli      ', N'3         ')
GO
INSERT [dbo].[Enrollments] ([StudentRegNo], [CourseName]) VALUES (N'2022-CS-65', N'DSA       ')
GO
INSERT [dbo].[Student] ([RegistrationNumber], [Name], [Department], [Session], [CGPA], [Address]) VALUES (N'2022-CS-65', N'Wali      ', N'CS        ', 2022, 3.95, N'Shalamar  ')
INSERT [dbo].[Student] ([RegistrationNumber], [Name], [Department], [Session], [CGPA], [Address]) VALUES (N'26        ', N'Ahmad     ', N'Civil     ', 2023, 3.9, N'Ghari shuh')
GO
USE [master]
GO
